body{
    background-color:#1d1c19;
      background-image: url('knas2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;  
        -o-background-size:60% auto;
-webkit-background-size:60% auto;
-moz-background-size:60% auto;
background-size:60% auto;
}
#center {

    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
    
    
   
}

#placeholder{
    background-color: ghostwhite;
    border: 1px solid black;
width: 300px;
height: 40px;
text-align: center;
font-size: 23px;
font-family: 'Roboto', sans-serif;

    
}
#textbox{
padding-bottom: 40px;
}
#TEXTBOX_ID{
    width:100%;
Height:30px;
}
#buton{
    line-height: 1.5;
    width:100%;
}
